body{
    background-color: rgb(183, 171, 171);
}
.food{
    display: flex;
    flex-wrap: wrap;
    
}
.meat{
    width: 150px;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    background-color: rgb(183, 171, 171);
    margin: 10px;
    padding: 30px 0px;
    flex-direction: column;
}
.meat img{
    width: 80%;
    border-radius: 10px;
    padding-top: 30px;
}
.text{
    text-align: center;
    font-size: 35px;
}